*,
* ::before,
* ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Bitter, Georgia, Cambria, "Times New Roman", sans-serif;
    max-width: 80vw;
    min-height: 100vh;
    margin: 0 auto;
    border: 0px solid rgb(210,210,210);
    border-image: 0 stretch 100% none 1;
    color: rgb(80,80,80);
    line-height: 22px;
    tab-size: 4;
    text-size-adjust: 100%;
}

ul {
    list-style-type: none;
}

h1 {
    font-size: 1rem;
    text-transform: uppercase;
}

#logo {
    width: 200px;
    height: 200px;
}

.header {
    border-bottom: 1px solid rgb(210,210,210);
}

.navigation {
    display: flex;
    justify-content: space-between;
}

.navigation-list {
    display: flex;
    align-items: center;
    gap: 52px;
    font-weight: 800;
}