*,
* ::before,
* ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #1B263B;
    color: #F8F9FA;
    font-family: 'Lora', Georgia, serif;
    max-width: 1200px; /* for larger screens */
    width: 100%;
    margin: 0 auto; 
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.logo {
    width: 300px;
    height: 300px;
    cursor: pointer;
}

ul {
    list-style-type: none;
}

header {
    padding: 0 20px;
    height: 200px;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}

.link-list {
    font-size: 1rem;
    text-transform: uppercase;
    display: flex;
    gap: 30px;
    cursor: pointer;
}


h1 {
    font-family: 'Josefin Sans' ,sans-serif;
    font-size: 2.5rem;
    text-transform: uppercase;
}

.first-section p {
    font-size: 1.2em;
    line-height: 1.6;
}

.hero-section {
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-image: url(./images/hero-section.jpg);
    background-size: cover;
    padding: 30px;
    margin-bottom: 50px;
    margin-top: -50px;
    height: 450px;
}
    

.title {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.blog-author {
    width: 400px;
    height: 600px;
}

.author-wrap {
    display: flex;
    gap: 60px;
}

.author-section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.author-information {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
}



