*,
* ::before,
* ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Courier New", monospace, sans-serif;
    max-width: 80vw;
    min-height: 100vh;
    margin: 0 auto;
}


.nav-bar {
    font-size: 40px;
    font-weight: 600;
    background-color: rgb(200, 50, 45, 0.5);
    color: white;
    padding: 30px;
    width: 100%;
}

.nav-bar ul li {
    display: inline-block;
    margin-right: 70px;
}


.recipe-link {
    font-size: 20px;
    font-weight: 700;
}

.recipes-list {
    list-style-type: none;
    font-size: 20px;
    font-weight: 300;
}