*,
* ::before,
* ::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Bitter, Georgia, Cambria, "Times New Roman", sans-serif;
    max-width: 80vw;
    min-height: 100vh;
    margin: 0 auto;
    border: 0px solid rgb(210,210,210);
    border-image: 0 stretch 100% none 1;
    color: rgb(80,80,80);
    line-height: 22px;
    tab-size: 4;
    text-size-adjust: 100%;
}

h1 {
    font-size: 40px;
    font-weight: 800;
    text-align: center;
}

.dumplings-image {
    height: 400px;
    width: 400px;
}

.titles {
    background-color: rgb(200,50,45, 0.5);
    color: white;
}

